<section
  class="h-10 text-2xl font-bold border-[0.1rem] border-gold-regular border-opacity-10 w-full rounded-md px-3 py-6 flex items-center gap-4 dark:border-opacity-20"
>
  <h2 class="text-white mr-auto">Piancy</h2>
  <!-- <small
    type="text"
    class="rounded ml-auto bg-[#000] bg-opacity-10 text-white text-sm font-light p-2"
  >
    {{ sequence }}
  </small> -->
  <button
    class="btn text-stone-700 text-opacity-80 hover:text-opacity-100 bg-white rounded-lg text-sm p-1"
    (click)="play()"
  >
    <i class="material-icons-round"> music_note </i>
  </button>
</section>
<section
  class="flex flex-row gap-[3px] rounded-md shadow-inner pt-0 p-2 pb-3 bg-[#000] bg-opacity-20 overflow-hidden border-[0.1rem] border-gold-regular border-opacity-10 dark:border-opacity-20"
>
  <app-tile
    *ngFor="let tile of tiles"
    [tile]="tile"
    class="dark:bg-black dark:bg-opacity-40 dark:text-white"
    (actived)="actived(tile, $event)"
  >
  </app-tile>
</section>
