<header class="w-full absolute top-0 flex justify-end items-center p-3">
  <a
    class="mr-auto font-bold text-inherit hover:text-gold-dark dark:hover:text-gold-light"
    href="https://github.com/mukhuve/piancy"
    target="_blank"
  >
    <h2 class="text-4xl">@mukhuve/piancy</h2>
  </a>
  <button
    class="btn bg-black text-white p-4 dark:bg-white dark:text-black"
    (click)="toggleDarkMode()"
  >
    <i class="material-icons-round">
      {{ darkmode ? "wb_sunny" : "dark_mode" }}
    </i>
  </button>
</header>
<app-piano
  #piano
  class="dark:bg-stone-700"
  [base]="3"
  [octaves]="4"
  (output)="colorize($event)"
></app-piano>
<div class="ind" [class.active]="piano?.active"></div>
