<button
  id="LA"
  data-frecuency="220.00"
  class="note"
  (click)="oscillator(220.0)"
>
  A
</button>
<button
  id="LA#"
  data-frecuency="233.08"
  class="note"
  (click)="oscillator(233.08)"
>
  #
</button>
<button
  id="SI"
  data-frecuency="246.94"
  class="note"
  (click)="oscillator(246.94)"
>
  B
</button>
<button
  id="DO"
  data-frecuency="261.63"
  class="note"
  (click)="oscillator(261.63)"
>
  C
</button>
<button
  id="DO#"
  data-frecuency="277.18"
  class="note"
  (click)="oscillator(277.18)"
>
  #
</button>
<button
  id="RE"
  data-frecuency="293.66"
  class="note"
  (click)="oscillator(293.66)"
>
  D
</button>
<button
  id="RE#"
  data-frecuency="311.13"
  class="note"
  (click)="oscillator(311.13)"
>
  #
</button>
<button
  id="MI"
  data-frecuency="329.63"
  class="note"
  (click)="oscillator(329.63)"
>
  E
</button>
<button
  id="FA"
  data-frecuency="349.23"
  class="note"
  (click)="oscillator(349.23)"
>
  F
</button>
<button
  id="FA#"
  data-frecuency="369.99"
  class="note"
  (click)="oscillator(369.99)"
>
  #
</button>
<button
  id="SOL"
  data-frecuency="392.00"
  class="note"
  (click)="oscillator(392.0)"
>
  G
</button>
<button
  id="SOL#"
  data-frecuency="415.30"
  class="note"
  (click)="oscillator(415.3)"
>
  #
</button>
