@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 flex flex-row items-center justify-center dark:bg-black dark:text-white;
  font-size: 16px;
  width: 100svw;
  height: 100svh;

  * {
    box-sizing: border-box;
  }
}

h1,
h2 {
  font-family: "Dancing Script", cursive;
}

button.btn {
  @apply rounded-lg shadow-md flex flex-row items-center justify-center;
}
